.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position:relative
}

.container a[href*=google]{
    color: red;
}

.container a[href*=instagram]{
    color: chocolate;
}

.container a[href*=github]{
    color: blueviolet;
}