body{
    background-color: aquamarine;
}

@media screen and (min-width:480px) and (max-width:720px){
    body{background-color:chartreuse;}
    h1::before{content: "480";}
    h1::after{content: "720";}
}   



@media screen and (min-width:720px) and (max-width:1500px){
    body{background-color:forestgreen;}
    h1::before{content: "720";}
    h1::after{content: "1500";}
}

